version = "1.0"

[main]
name.en = "Etherpad configuration"
name.fr = "Configuration d'Etherpad'"
services = ["__APP__"]

    [main.config]
    name.en = "Configuration Options"
    name.fr = "Options de configuration"

        [main.config.align]
        ask.en = "Align plugin"
        ask.fr = "Align plugin"
        type = "boolean"
        yes = "true"
        no = "false"
        help.en = "Activate align plugin"
        help.fr = "Activer le plugin Align"
        bind = "ep_align:__INSTALL_DIR__/config.json"
